<h1>
  List of Bathrooms
</h1>

<% @bathrooms.each do |bathroom| %>
  <li><%= bathroom.location_name %><br>
  <%= bathroom.street_address %></li>
<%end%>

<%= link_to "Create New Bathroom", new_bathroom_path %>
