/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides
 */

$black: #000;
$white: #fff;

body {
  background-image: image_url("Landing_Page.jpg");
  background-size: cover;
  background-repeat: repeat-y;
  background-position: center top;
  background-position: 0px 45px;
 }

.container {
  padding: 10px;
  background:rgba(255,255,255,0.5);
}

#vote-div {
  display: inline-block;
  margin-top: 2px;
}

.review-container {
  padding: 15px;
  display: inline-block;
  vertical-align: -webkit-baseline-middle;
}

.container-total-review {
  background:rgba(255,255,255,0.8);
}

.review-container p {
  margin-bottom: 10px;
}

.top-bar {
  background-color: #000000;
}

.top-bar img {
  height: 100%;
  float: left;
  margin-right: 10px;
  background-color: #FF0082;
}

.top-bar h1 {
  width: 250px;
}

.profile-photo img {
  width: 3em;
  max-height: 3em;
  float: right;
  margin-top: 2px;
  margin-right: 0px;
  background: inherit;
}

.profile-photo li {
  background: #000000;
}

.top-bar {
  background: #000000;
}

.top-bar-section li a:not(.button) {
    background: #000000 !important;
}
.top-bar-section li:not(.button) {
    background: #000000 !important;
}

.top-bar-section li a:not(.button):hover {
    background: #6fdf52 !important;
}

.user-email {
  float: left;
  color: white;
  font-size: 10pt;
  margin-top: 11px;
}

.top-bar-section .right {
  background-color: #000000;
}

.bathroom-list {
  background: rgba(0, 0, 0, .2);
}

.bathroom-list tr {
  background: rgba(0, 0, 0, 0);
}

.title {
  text-align: center;
  color: #FF0082;
  margin-bottom: 90px;
}

.upvote img {
  height: 30px;
  width: auto;
}

.downvote img {
  height: 25px;
  width: auto;
}

.small-4 {
text-align: center;
}

#welcome {
  background:rgba(255,255,255,0.5);
  margin-top: 150px;
  padding: 20px;
  text-align: center;
}

.searchbra {
  margin-left: 0;
}
.button {
  display: block;
  padding: 10px;
  margin: 0 auto;
  color: #000000;
}

.button:hover {
  background-color: #6FDF52;
  color: #000000;
}

h5 {
  text-align: center;
}

#created {
  color: white;
}

h1 a {
  text-align: center;
}

h1 {
  color: #FF0082;
}

h2 {
  color: #FF0082;
}


h1 a:hover {
  color: #6FDF52;
  text-align: center;
}
// Footer

.page-wrap {
  margin-bottom: -142px;
  min-height: 120%;
}

.page-wrap:after {
  content: "";
  display: block;
}

.site-footer,
.page-wrap:after {
  height: 142px;
}

footer {
  background-color: $black;
  bottom: 0;
  color: $white;
  font-size: 18px;
}
