/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

 */
 body {
  background-image: url("Landing_Page.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
  overflow-x: hidden;
 }


.footer {
  background-color: #000;
  height: 150px;
  position: relative;
  top: 100%;
  overflow-y: visible;
  padding-bottom: 200px;
}

.top-bar img {
  height: 100%;
  float: left;
  background-color: #26ade4;
  margin-right: 10px;
}

.top-bar h1 {
  width: 250px;
}

.profile-photo img {
  width: 3em;
  max-height: 3em;
  float: right;
  margin-top: 2px;
  margin-right: 0px;
}

.header {
  padding: 40px 0px 0px 40px;
}

#welcome {
  background:rgba(255,255,255,0.5);
  margin: 15%;
  padding: 20px;
}
.button {
  display: block;
  margin: 0 auto;
}
#created {
  color: white;
}
